body{
    margin:20px;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align:left;
    background: #650810;
    color: #D9D9DC;
}

.logo{
    width: 150px;
}

.border{
    border: 1px dotted blue;
    background: #F86E31;
    border-bottom: 5px dotted #d8cefe;
    border-radius: 22px;
}
