body {
    margin: 0;
    text-align: center;
}

.hero {
    width: 100%;
    max-width: 720px;
    height: 343px;
    margin: 0 auto;
    padding-top: 10px;
    background-image: url("hero.jpg");
    background-size: cover;
    color: white;
}

.hero-text {
    width: fit-content;
    max-width: 90%;
    margin: 0 auto 20px;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: black;
    
}