body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-image: url("table.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	font-weight: bold;
}

h1 {
	color: goldenrod;
}

#message-el {
	font-style: italic;
}

button {
	color: #016f42;
	width: 150px;
	background: goldenrod;
	border: none;
	padding: 5px 10px;
	font-weight: bold;
	border-radius: 7px;
}